<!DOCTYPE HTML>
<html>
<head>
  <title>Pelikaupan testi</title>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script language="javascript" src=http://code.createjs.com/createjs-2015.11.26.min.js></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  {% load static %}
  <!--<script src="{% static 'gamestore/catalog/catalog.js' %}"></script>
  <img id=arrow_right src="{% static 'gamestore/images/arrow_right.png' %}" hidden=True></img>
  <img id=arrow_left src="{% static 'gamestore/images/arrow_left.png' %}" hidden=True></img>-->
  <link rel="stylesheet" type="text/css" href="{% static 'gamestore/store.css' %}" />
</head>
<body>
  <center>
  <canvas id="game_catalog_canvas"></canvas>
  <div>
    <h1 id="Gamestore_title"> Game store </h1>
  </div>
  {% for game in allgames %}
    <div>
      <form action="{% url 'game' %}" method="post">
        {% csrf_token %}
        <input type="number" name="game_id" value="{{game.id}}" hidden=True>
        <button type="submit" class="btn" id="{{game.id}}">{{game.game_name}}</button>
      </form>
    </div>
    <br>
  {% endfor %}
  </center>
</body>
</html>
