<!DOCTYPE HTML>
<html>
<head>
  <title>Pelikaupan testi</title>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'gamestore/store.css' %}" />
</head>
<body>
  <center>
    <div>
      <h1> {{game.game_name}} </h1>
    </div>
    <div>
      <h5> {{game.info}} </h5>
    </div>
    <div>
      <h5> Price: {{game.price}} </h5>
      <h5> {{user.id}} </h5>
    </div>

    <form action="{% url 'purchase' %}" method="post">
      {% csrf_token %}
      <input type="number" name="game_id" value="{{game.id}}" hidden=True>
      <input type="number" name="game_price" value="{{game.price}}" hidden=True>
      <button type="submit" class="btn">Buy</button>
    </form>
  </center>
</body>
</html>
